
/*TABLE OF CONTENTS*/
/*--GLOBAL--------*/
/*--HEADER--------*/
/*--NAV-LINKS-----*/
/*--ABOUT-ME------*/
/*--WORK----------*/
/*--CARDS---------*/
/*--FOOTER--------*/
/*--SCALE---------*/



/*----GLOBAL----*/
:root{
    --darkBackground: rgb(35, 46, 54);
    --creamBackground: rgb(188, 200, 201);
    --cardText: rgb(228, 231, 222);
    --sideFont: 40px;
}

*{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

body {
    margin:0;
    background-color: var(--creamBackground);
}

header{
    position:absolute;top:8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width:25%;
    z-index: 1;
    text-align:right;
    background: cadetblue;
    font-size: 200%;
    color: var(--darkBackground);
    overflow: hidden;
}

/*----NAV LINKS----*/
nav{
    position: relative;
    overflow: hidden;
    background-color: var(--darkBackground);
}

nav a{
    background-color: dark;
    color: cadetblue;
    font-weight:bold;
    float:right;
    text-align: center;
    padding: 30px 15px;
    font-size: 130%;
    text-decoration: none;
}

nav a:hover{
    background-color: var(--creamBackground) ;
}

.hero{
    height: 200px;
    width: 100%;
    background-image: url("../images/blue-space.jpg");
    background-size:cover;
    background-position:center;
}

/*----ABOUT ME---*/
.about-me{
    display:flex;
    justify-content: space-between;
    padding-right: 10%;
    border-right: solid cadetblue;
}
.about-me img{
    border: 5px solid cadetblue;
    align-self: center;
    height: 300px;
    margin: 20px;
}
.about-me h2{
    display: flex;
    color: cadetblue;
    justify-content: center;
    align-self: center;
    padding-left: 10%;
    padding-right: 4%;
    font-size: var(--sideFont);
}

.about-me p{
    border-left: 5px solid cadetblue;
    padding: 2%;
    font-size: 30px;
}

/*----WORK----*/

.work{
    display:flex;
    justify-content: space-evenly;
    padding-top:5%;
    padding-bottom: 5%;

}

.work h2{
    display: flex; 
    justify-content: center;
    color: cadetblue;
    padding-left: 30%;
    padding-right: 4%;
    font-size: var(--sideFont);
    border-right: 5px solid cadetblue;
}


/*----WORK BOXES---*/
.work ul{
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    justify-content: center;
}

.work li {  
    padding:10px;
    border: 5px solid cadetblue;
    margin:10px;
    justify-self: flex-end;
}

.work li:hover{
    background-color:cornflowerblue;
    filter: opacity(25%); 
}


/*----CARDS----*/
.card{
    position:relative;
}

.card1{
    position:relative;
}
/*This Extra Card Class was Neccesary for the first card to be biggest*/
.card1 img{
    width: 500px;
    height: 400px;
    }

.card img{
    width: 250px;
    height: 150px;
}

/*Handles the boxes on each work image*/
.image-box{
position:absolute;
bottom:20px;
padding-left: 15%;
background-color: cadetblue;
color: var(--cardText);
}

/*----FOOTER----*/
footer 
{
    color:cadetblue;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--darkBackground);
    color: white;
    text-align: center;
    color:rgb(188, 200, 201);
}

footer ul{
    border: 0px;
    text-decoration: none; 
}

footer a{
    color:rgb(188, 200, 201);
    font-size: 100%;
}

/*---SCALE---*/
@media screen and (max-width: 1187px)
{
    
.card1 img{
    width: 250px;
    height: 150px;
    }
}
@media screen and (max-width:667px){
  *{
      font-size: 100%;
  }

  .header-container{
      text-align: right;
  }

  nav{
      display:flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin: 2px;
  }
  nav a{
     font-size: 70%;
     border-radius: 10px;
     background-color: rgb(44, 67, 68);
  };


  .work{
    display:flex;
    justify-content:center;
    flex-flow: column wrap;
    padding-top:5%;
    padding-bottom: 5%;

}

.work h2{
    display: relative; 
    font-size: var(--sideFont);
    border-right: 0px solid cadetblue;
}

  .work ul{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    justify-content: center;
}

/*----CARDS----*/
.card{
    position:relative;
}

.card1{
    position:relative;
}
/*This Extra Card Class was Neccesary for the first card to be biggest*/
.card1 img{
    width: 250px;
    height: 150px;
    }

.card img{
    width: 250px;
    height: 150px;
}

}
